## Introduction to Python for Machine Learning: Quiz Answers
***

- ### Import Libraries
***

In [1]:
#import libraries
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

+ ### Look up dataset

In [2]:
data = pd.read_csv("data/fuel_ferc1.csv")

## Question 3
##### Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [3]:
data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 4
##### What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

In [4]:
# The Standard deviation
data.agg({'fuel_mmbtu_per_unit':['std']}).round(2)

     fuel_mmbtu_per_unit
std                 10.6

In [5]:
# The 75th Percentile is
data.fuel_mmbtu_per_unit.quantile(0.75).round(2)

17.01

## Question 5
##### What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [6]:
data.fuel_qty_burned.skew().round(2)

15.85

In [7]:
data.fuel_qty_burned.kurtosis().round(2)

651.37

## Question 6

In [8]:
data.fuel_unit.isnull().value_counts(normalize=True).round(3)

False    0.994
True     0.006
Name: fuel_unit, dtype: float64

## Question 7
##### The feature with missing values falls under what category? What missing value imputation technique would you use?

## Question 8
##### Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

In [9]:
data.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

## Question 9
##### For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [10]:
coal_ds = data[data.fuel_type_code_pudl=="coal"].set_index('report_year').loc[[1994,1998], ['fuel_cost_per_unit_burned']]

y94 = coal_ds.loc[1994].sum()
y98 = coal_ds.loc[1998].sum()

np.floor((y98-y94)/y94*100)

fuel_cost_per_unit_burned   -21.0
dtype: float64

## Question 10
##### Which year has the highest average fuel cost per unit delivered?

In [11]:
data.groupby('report_year').agg({'fuel_cost_per_unit_delivered': 'mean'})\
    .sort_values(by=['fuel_cost_per_unit_delivered'], ascending=False)[:1]

             fuel_cost_per_unit_delivered
report_year
1997                         11140.197239